In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Import Dataset

In [2]:
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# Separate(X and Y)

In [3]:
x = df[['Height','Weight']]

In [4]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [5]:
y = df[['Gender']]
y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

# Splliting Data, Train 70% & Test 30%

In [7]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30, random_state=0)

In [8]:
df.shape

(8555, 3)

In [9]:
xtrain.shape

(5988, 2)

In [10]:
xtest.shape

(2567, 2)

In [11]:
ytrain.shape

(5988, 1)

In [12]:
ytest.shape

(2567, 1)

In [13]:
xtrain.head()

         Height      Weight
3197  69.689848  186.377448
4394  66.299441  159.235988
7711  63.261527  126.426793
7019  62.035319  119.418135
898   67.272171  187.363366

In [14]:
xtest.head()

         Height      Weight
541   63.867921  174.473363
3209  68.688931  178.507500
7598  65.865244  155.248900
5170  66.259558  138.839940
2423  67.290776  154.718344

In [15]:
ytrain.head()

      Gender
3197    Male
4394    Male
7711  Female
7019  Female
898     Male

In [16]:
ytest.head()

      Gender
541     Male
3209    Male
7598  Female
5170  Female
2423    Male

# KNN Classifier

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [19]:
neigh.fit(xtrain,ytrain)

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [20]:
y_pred = neigh.predict(xtest)

In [34]:
neigh.predict([[65.865244,155.248900]])

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Male'], dtype=object)

In [21]:
y_pred

array(['Male', 'Male', 'Male', ..., 'Male', 'Male', 'Female'],
      dtype=object)

# Accuracy

In [25]:
neigh.score(xtest, ytest) #testing score

0.8975457732761979

In [26]:
neigh.score(xtrain, ytrain) # training score

0.9402137608550434

In [27]:
data= xtest
df1 = pd.DataFrame(data, columns=['Height','Weight'])
df1.head()

         Height      Weight
541   63.867921  174.473363
3209  68.688931  178.507500
7598  65.865244  155.248900
5170  66.259558  138.839940
2423  67.290776  154.718344

In [28]:
data= ytest
df2 = pd.DataFrame(data, columns=['Gender'])
df2.head()

      Gender
541     Male
3209    Male
7598  Female
5170  Female
2423    Male

In [29]:
df_merged = df1.merge(df2,  left_index=True, right_index=True)
df_merged.head()

         Height      Weight  Gender
541   63.867921  174.473363    Male
3209  68.688931  178.507500    Male
7598  65.865244  155.248900  Female
5170  66.259558  138.839940  Female
2423  67.290776  154.718344    Male

In [32]:
data= y_pred
df3 = pd.DataFrame(data, columns=['KNN Classification Predected Weight'])
df3.head()

  KNN Classification Predected Weight
0                                Male
1                                Male
2                                Male
3                              Female
4                              Female

In [33]:
df_merged.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)

df_merged = df_merged.merge(df3,  left_index=True, right_index=True)
df_merged.head()

      Height      Weight  Gender KNN Classification Predected Weight
0  63.867921  174.473363    Male                                Male
1  68.688931  178.507500    Male                                Male
2  65.865244  155.248900  Female                                Male
3  66.259558  138.839940  Female                              Female
4  67.290776  154.718344    Male                              Female

For this dataset KNN Classification gives higher score than KNN Regression model.